body {
    background-color: #ffe3cf;
    background-repeat: no-repeat;
    background-size: cover;
}
.Centrar-texto {
    text-align: center;
    font-family: 'Playfair Display', serif;
    background-color: #ffc9a3;
    border-radius: 20px;
    padding: 20px; 
    margin-top: 10px; 
    margin-bottom: 10px;
    margin-left: 10px; 
    margin-right: 10px; 
}
img {
    max-width: 300px; 
    height: auto; 
}
.Formulario-Centrado {
    text-align: center;
}
.descripcion-horno {
    font-size: 16px; 
    color: #333;
    margin-top: 10px; 
    padding: 10px; 
    background-color: #f9f9f9; 
    border: 1px solid #ddd; 
    border-radius: 5px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

